@font-face {
    font-family : 'avenir-light';
    src         : url("../fonts/avenir_35_light.eot");
    src         : url("../fonts/avenir_35_light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/avenir_35_light.woff") format("woff"),
    url("../fonts/avenir_35_light.ttf") format("truetype"),
    url("../fonts/avenir_35_light#avenir_35_light") format("svg");
}

@font-face {
    font-family : 'avenir-bold';
    src         : url("../fonts/avenir_85_heavy.eot");
    src         : url("../fonts/avenir_85_heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/avenir_85_heavy.woff") format("woff"),
    url("../fonts/avenir_85_heavy.ttf") format("truetype"),
    url("../fonts/avenir_85_heavy#avenir_85_heavy") format("svg");
}

@font-face {
    font-family : 'avenir-cyr-light';
    src         : url("../fonts/AvenirNextCyr-Light.eot");
    src         : url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextCyr-Light.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Light.ttf") format("truetype"),
    url("../fonts/AvenirNextCyr-Light#AvenirNextCyr-Light") format("svg");
}

@font-face {
    font-family : 'avenir-cyr-bold';
    src         : url("../fonts/AvenirNextCyr-Bold.eot");
    src         : url("../fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextCyr-Bold.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype"),
    url("../fonts/AvenirNextCyr-Bold#AvenirNextCyr-Bold") format("svg");
}

@font-face {
    font-family : "Flaticon";
    src         : url("../fonts/flaticon.eot");
    src         : url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight : normal;
    font-style  : normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family : 'Flaticon';
    //font-size: 20px;
    font-style  : normal;
}

.flaticon-cross97:before { content : "\e000"; }

.flaticon-down126:before { content : "\e001"; }

.flaticon-fixed1:before { content : "\e002"; }

.flaticon-left222:before { content : "\e003"; }

.flaticon-linkedin11:before { content : "\e004"; }

.flaticon-logotype42:before { content : "\e005"; }

.flaticon-logotype60:before { content : "\e006"; }

.flaticon-market1:before { content : "\e007"; }

.flaticon-right11:before { content : "\e008"; }

.flaticon-send4:before { content : "\e009"; }

.flaticon-settings48:before { content : "\e00a"; }

.flaticon-twitter1:before { content : "\e00b"; }

.flaticon-up7:before { content : "\e00c"; }

.flaticon-web-design4:before { content : "\e00d"; }
