.slick-slider {
    display                     : block;
    position                    : relative;
    @include box-sizing(border-box);
    -webkit-user-select         : none;
    -moz-user-select            : none;
    -ms-user-select             : none;
    user-select                 : none;
    -webkit-touch-callout       : none;
    -khtml-user-select          : none;
    -ms-touch-action            : pan-y;
    touch-action                : pan-y;
    -webkit-tap-highlight-color : transparent;
    .slick-track, .slick-list {
        @include translate3d(0, 0, 0);
    }
}

.slick-list {
    position : relative;
    display  : block;
    overflow : hidden;
    margin   : 0;
    padding  : 0;
    &:focus { outline : none; }
    &.dragging {
        cursor : pointer;
        cursor : hand;
    }
}

.slick-track {
    display  : block;
    position : relative;
    top      : 0;
    left     : 0;
    &:before, &:after {
        display : table;
        content : '';
    }
    &:after { clear : both; }
}

.slick-loading .slick-track {
    visibility : hidden;
}

.slick-slide {
    display    : none;
    float      : left;
    height     : 100%;
    min-height : 1px;
    img {
        display : block;
        width   : 100%;
    }
    &.slick-loading img {
        display : none;
    }
}

[dir='rtl'] .slick-slide {
    float : right;
}

.slick-slide.dragging img {
    pointer-events : none;
}

.slick-initialized .slick-slide {
    display : block;
}

.slick-loading .slick-slide {
    visibility : hidden;
}

.slick-vertical .slick-slide {
    display : block;
    height  : auto;
    border  : 1px solid transparent;
}

.slick-prev, .slick-next {
    position   : absolute;
    top        : 0;
    bottom     : 0;
    margin     : auto 0;
    overflow   : hidden;
    @include size(60px);
    background : none;
    color      : $white;
    border     : $border-width solid $white;
    @include border-radius(60px);
    @include transition(all 0.2s linear);
    &:hover {
        color        : $primary-color-2;
        border-color : $border-color-hover;
        //@include scale(1.1);
    }
    &:focus { outline : none; }
    &:before {
        font-family             : 'Flaticon';
        speak                   : none;
        font-style              : normal;
        font-weight             : normal;
        font-variant            : normal;
        text-transform          : none;
        font-size               : 30px;
        line-height             : 1;
        -webkit-font-smoothing  : antialiased;
        -moz-osx-font-smoothing : grayscale;
    }
    &:hover, &:focus, &:active {
        &:after {
            //@include animation(1s hvr-ripple-out forwards);
        }
    }
}

.slick-prev {
    left : 15px;
    &:before {
        content : "\e003";
        margin  : 0 18px 0 14px;
    }
}

.slick-next {
    right : 15px;
    &:before {
        content : "\e008";
        margin  : 0 15px;
    }
}

.slick-dots {
    position : absolute;
    bottom   : 50px;
    left     : 0;
    right    : 0;
    margin   : 0 auto;
    @include size(150px, 5px);
    border-top : 1px solid $white;
    li {
        display : inline-block;
        &.slick-active {
            button { border-color : $white; }
        }
        button {
            @include size(50px, 10px);
            background    : transparent;
            border        : none;
            border-bottom : 1px solid transparent;
            color       : $white;
            text-indent : -9999px;
            cursor      : pointer;
            @include transition(all 0.2s linear);
            &:focus { outline : none; }
        }
    }
}


